/* 1441 to 1660 */

@media only screen 
  and (min-device-width: 1441px) 
  and (max-device-width: 1660px)
  and (-webkit-min-device-pixel-ratio: 2) {


    body {
        background-size: cover;
    }

    .navbar {
        justify-content: center;
    }
    
    .navbar-nav {
        display: flex;
        flex-direction: row;
    }

    .nav-item {
        margin-left: 1em;
    }

    #about-section {
        height: 80em;
    }

    #primary-section {
        height: 45em;
        text-align: center;
    }

    .service-row {
        font-size: 1.2em;
    }

    .service-row {
        font-size: 1.1em;
    }

    .images {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .about-photo, .service-photo {
        position: absolute;
        
    }

    .service-photo {
        right: 1em;
        width: 50%;
    }

    .service-photo-1 {
        top: 9em;
    }
    .service-photo-2 {
        top: 21em;
    }
    .service-photo-3 {
        top: 33em;
    }
    .service-photo-4 {
        top: -4em;
    }

    .about-photo {
        top: -100px;
        width: 92%;
    }
    
}

