/*

TODO: animated bird
TODO: Increase size of phone numbers on hover
TODO: Include functionality so user if click on phone then starts phone call or can text or copies
TODO: Little circular graphic on small screen so user can click to call
TODO: Mobile responsive - make better media queries for images in each section

*/

body {
    /* width: -webkit-fill-available; */
    width: fit-content;
    background-image: url("../images/closest-structure.jpg");
      /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    /* For Bootstrap Scrollspy */
    position: relative;

}

h1, p {
    margin-top: 0;
    margin-bottom: 0;
}
body {
    background-size: auto;
}

.navbar {
    justify-content: center;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.nav-item {
    margin-left: 1em;
}

.container {
    margin-top: 8em;
}

.section {
    padding-top: 0rem;
    background-color: #ffffff;
    position: relative;
    height: 65em; 
    padding-bottom: 0rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.display-4 {
    font-family: 'Bowlby One', cursive;
    margin: 0px;
    font-size: 12.5rem;
}

.about-paragraph, .service-row, form {
    font-family: 'Raleway', sans-serif;
}
/* PRIMARY SECTION */
#primary-section {
    height: 55rem;
    font-family: 'Indie Flower', cursive;
}

    #title {
    font-size: 6.5rem;
    }

    #subtitle {
        font-size: 2.25rem;
    }

/* ABOUT SECTION */
#about {
    /* color: #f3a9ba47; */
    color: #f3a9ba;
    text-align: center;
}

    .about-paragraph {
        padding: 1em 2em;
        font-size: 1.5em;
        text-align: center;
    }

    .about-paragraph::first-line {
        color: #ff6c86;
    }

    /* ABOUT IMGS */
    .about-photo {
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
        position: absolute;
        width: inherit;
        top: -100px;
    }


/* SERVICES SECTION */
#services-section {
    background-color: #ffffff;
    overflow: hidden;
}

    #services {
        /* color: #ffe0ce; */
        color: #ffa977;
        text-align: center;
    }

    .service-row {
        margin-bottom: 1em;
    }
    /* SERVICE IMGS */
        .service-photo-1 {
            top: 9em;
            transform: rotate(-4deg);
        }
        .service-photo-2 {
            top: 19em;
            transform: rotate(9deg);
        }
        .service-photo-3 {
            top: 30em;
            transform: rotate(-15deg);
        }
        .service-photo-4 {
            top: -3em;
            transform: rotate(15deg);
        }
        .service-photo {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            width: inherit;
            position: absolute;
        }

/* CONTACT SECTION */
#contact-section {
    background-color: #343a40;
}

    #contact {
        text-align: center;
        color: #6064698a;
    }


/* BUTTONS */
#submit {
    background-color: #343a40;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

    #submit:hover {
        background-color: #343a40;
        box-shadow: none;
    }

    #submit:active {
        background-color: #fce7ec;

    }

    #primary-phone {
        /* background-color: #ff617d; */
        background-color: #fbb1c2;
        margin-right: 3.2em;
    }

    .form-control:focus, #primary-phone:focus {
        border-color: #ff8fa9;
        box-shadow: inset 1px 1px 0px 0px #fce7ec, 0 0 8px #ffffff;
    }

/* CONTACT FORM */
form {
    font-size: 1.3em;
    margin: 3em;
    color: white;
    background-color: #4c5156;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* FOOTER */
#footer-image {
    height: 17em;
    width: 100%;
}
