/* 601 to 960px; */
/* And for about-photos screen sizes 768 - 960  */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 601px) 
  and (max-device-width: 960px)
  and (-webkit-min-device-pixel-ratio: 2) {


    body {
        background-size: auto;
    }

    .navbar {
        justify-content: center;
    }
    
    .navbar-nav {
        display: flex;
        flex-direction: row;
    }

    .nav-item {
        margin-left: 1em;
    }

    #about-section {
        height: 70em;
    }

    #primary-section {
        height: 45em;
        text-align: center;
    }

    .images {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .about-photo {
        top: -70px;
        width: 90%;
    }
    .service-photo {
        position: absolute;
    }

    .service-photo {
        right: 1em;
        width: 70%;
    }
    
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 960px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .about-photo {
        top: -50px;
        width: inherit;
    }
    
}