/* 300 to 500 */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 300px) 
  and (max-device-width: 600px)
  and (-webkit-min-device-pixel-ratio: 2) {

    body {
        width: fit-content;
        background-image: url("../images/dog_dalmation_pink.jpeg");
    }

    .images {
        display: none;
    }

    #title {
        font-size: 3.5rem;
    }
    .display-4 {
        font-size: 4.5rem;
    }

    #primary-section {
        height: 30em;
        text-align: center;
    }

    #nbsp {
        margin-left: 0em;
    }

    .section {
        text-align: center;
    }

    #about-section, #services-section {
        height: auto;
    }

    #contact-section {
        height: 50em;
    }

    #about-paragraph {
        padding: 2em;
    }

    .navbar {
        justify-content: center;
    }
    
    .navbar-nav {
        display: flex;
        flex-direction: row;
    }

    .nav-item {
        margin-left: 1em;
    }

    #primary-phone {
        margin-right: 0em;
    }

    #contact-info {
        list-style: none;
        padding: 0;
    }
}