/*

TODO: pseudo class for first line of about me paragraph?
TODO: Testimonial section in about me section
TODO: animated bird
TODO: 

*/
body {
    width: -webkit-fill-available;
    background-image: url("../images/closest-structure.jpg");
      /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

}

.col {
    padding: 0 5px 0 0;
}

.jumbotron {
    margin: 0px;
}

/* SECTIONS */
.section {
    padding-top: 0rem;
    background-color: #ffffff;
    position: relative;
    height: 60em; 
    padding-bottom: 0rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.display-4 {
    font-family: 'Bowlby One', cursive;
    margin: 0px;
    z-index: -1;
    /* font-size: 10.5rem; */
    font-size: 12.5rem;
}
#primary-phone {
    /* background-color: #ff617d; */
    background-color: #fbb1c2;
}
#primary-section {
    height: 55rem;
    margin-top: 8rem;
    font-family: 'Indie Flower', cursive;
}

    #title {
    font-size: 6.5rem;
    }

    #subtitle {
        font-size: 2.25rem;
    }

#about {
    /* color: #f3a9ba7a; */
    color: #f3a9ba47;
    float: right;
}

#services {
    /* color: #ff8d4991; */
    /* color: #ff8d496b; */
    color: #ffe0ce
    
}
#services-section {
    /* background-color: #ff8d496b; */
    /* background-color: #ffc5a3; */
    background-color: #ffffff;
}

#contact {
    text-align: center;
    color: #6064698a;
}

#contact-section {
    background-color: #343a40;
}


#about-photo-1 {
    width: inherit;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: rotate(-10deg);
    /* height: -webkit-fill-available; */
}

#about-photo-2 {
    width: inherit;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: rotate(11deg);
    position: absolute;
    right: -7em;
    bottom: -10em;
}

#about-photo-3 {
    width: inherit;
    position: absolute;
    bottom: -29em;
    transform: rotate(-5deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#contact-img {
    width: 75%;
    border-radius: 50%;
}

#submit {
    background-color: #343a40;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#submit:hover {
    background-color: #343a40;
    box-shadow: none;
}

#submit:active {
    background-color: #fce7ec;

}

.form-control:focus {
    border-color: #ff8fa9;
    box-shadow: inset 1px 1px 0px 0px #fce7ec, 0 0 8px #ffffff;
  }

#about-paragraph {
    font-size: 1.5em;
    font-family: 'Indie Flower', cursive;
}
/* 9 19 30 -3 */
.service-photo-1 {
    top: 9em;
    transform: rotate(-4deg);
}
.service-photo-2 {
    top: 19em;
    transform: rotate(9deg);
}
.service-photo-3 {
    top: 30em;
    transform: rotate(-15deg);
}
.service-photo-4 {
    top: -3em;
    transform: rotate(15deg);
}
.service-photo {
    width: inherit;
    position: absolute;
}

/* FORM */
form {
    /* background-color: white; */
    color: white;
    background-color: #4c5156;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* FOOTER */
footer {
    background-color: #ff809d;
    height: 15rem;
}

  /* MEDIA QUERIES */
  @media only screen and (max-width: 600px) {
    body {
        width: fit-content;
        background-size: auto;
    }

    #primary-section  {
        text-align: center;
        height: 45rem;
        /* background-image: url("../images/cat-silouette.jpeg"); */
    }

  }

  @media only screen and (max-width: 1024px) {
    body {
        width: fit-content;
        background-size: auto;
    }

    #primary-section  {
        height: 45rem;
        /* background-image: url("../images/cat-silouette.jpeg"); */
    }

    #about-photo-2 {
        bottom: -12em;
    }

    #about-photo-3 {
        bottom: -34em;
    }

    /* TODO: Adjust about me section photos */
}

