/*

TODO: pseudo class for first line of about me paragraph?
TODO: Testimonial section in about me section
TODO: animated bird
TODO: Increase site of phone numbers on hover
TODO: Mobile responsive

*/
body {
    width: -webkit-fill-available;
    background-image: url("../images/closest-structure.jpg");
      /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    /* For Bootstrap Scrollspy */
    position: relative;

}

.container-fluid {
    width: fit-content; 
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0;
    /* /* margin-left: auto; */
}
/* SECTIONS */
.section {
    padding-top: 0rem;
    background-color: #ffffff;
    position: relative;
    height: 60em; 
    padding-bottom: 0rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.display-4 {
    font-family: 'Bowlby One', cursive;
    margin: 0px;
    z-index: -1;
    font-size: 12.5rem;
}

#primary-section {
    height: 55rem;
    margin-top: 8rem;
    font-family: 'Indie Flower', cursive;
}

    #title {
    font-size: 6.5rem;
    }

    #subtitle {
        font-size: 2.25rem;
    }

#about {
    /* color: #f3a9ba7a; */
    color: #f3a9ba47;
    float: right;
}

    #about-paragraph {
        font-size: 1.5em;
        font-family: 'Indie Flower', cursive;
    }

#services {
    /* color: #ff8d4991; */
    /* color: #ff8d496b; */
    color: #ffe0ce
}
#services-section {
    /* background-color: #ff8d496b; */
    /* background-color: #ffc5a3; */
    background-color: #ffffff;
    overflow: hidden;
}

#contact-section {
    background-color: #343a40;
}


/* CONTACT SECTION */
#contact {
    text-align: center;
    color: #6064698a;
}

/* ABOUT SECTION IMGS */
.about-photo {
    position: absolute;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.about-photo-1 {
    transform: rotate(-10deg);
    top: -15em;
    width: 120%;
}

.about-photo-2 {
    transform: rotate(7deg);
    width: 130%;
    right: -11em;
    bottom: -5em;
}

.about-photo-3 {
    width: 150%;
    bottom: -31em;
    transform: rotate(-11deg);
}

/* SERVICE SECTION IMAGES */
.service-photo-1 {
    top: 9em;
    transform: rotate(-4deg);
}
.service-photo-2 {
    top: 19em;
    transform: rotate(9deg);
}
.service-photo-3 {
    top: 30em;
    transform: rotate(-15deg);
}
.service-photo-4 {
    top: -3em;
    transform: rotate(15deg);
}
.service-photo {
    width: inherit;
    position: absolute;
}

/* BUTTONS */
#submit {
    background-color: #343a40;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#submit:hover {
    background-color: #343a40;
    box-shadow: none;
}

#submit:active {
    background-color: #fce7ec;

}

#primary-phone {
    /* background-color: #ff617d; */
    background-color: #fbb1c2;
    margin-right: 3.2em;
}

.form-control:focus, #primary-phone:focus {
    border-color: #ff8fa9;
    box-shadow: inset 1px 1px 0px 0px #fce7ec, 0 0 8px #ffffff;
  }

/* CONTACT FORM */
form {
    margin-bottom: 2em;
    color: white;
    background-color: #4c5156;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* FOOTER */
#footer-image {
    height: 17em;
    width: 100%;
}

/* MEDIA QUERIES */

/* body {
    width: fit-content;
    background-size: auto;
} */

@media (max-width: 600px) {
    .navbar {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .display-4.h1 {
        font-size: 5.5rem;
    }
}
/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) { 
    body {
        background-image: url("../images/dog_dalmation_pink.jpeg");
    }
    
    /* TODO: Hide photos in this query, maybe 1 photo per section */
    /* How to hide photos/columns in Bootstrap */
    .image-cols {
        display: none;
    }

    .section {
        text-align: center;
        height: auto;
    }

    #contact-info {
        list-style: none;
        padding: 0;
    }
 }

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
    .navbar-nav {
        margin: auto;
        flex-direction: row;
        justify-content: space-between;
    }

    li.nav-item {
        margin-right: 1.2em;
    }

    .display-4 {
        font-size: 5.5rem;
    }

    #about-paragraph {
        padding-right: 1.2em;
        text-align: center;
    }

    .about-photo-1 {
        top: -7em;
    }

    .about-photo-2 {
        transform: rotate(9deg);
        bottom: -2em;
        left: 3em;
        width: 140%;
    }

    .about-photo-3 {
        /* bottom: -27em;  */
        width: 170%;
        bottom: -33em;
    }

    .service-photo {
        width: 130%;
    }
 }

 /* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) { 
    .service-photo {
        width: 100%;
    }

 }